.root {
	-fx-background-color: #000000;
	-fx-alignment: center;
	-fx-font-family: Impact;
	-fx-padding: 50px;
	}

.imageview {
	-fx-image: url(../images/help.png);
}

.button {
	-fx-text-fill: #000000;
	-fx-font-size: 25px;
	-fx-background-radius: 5px;
	-fx-cursor: hand;
	-fx-pref-width: 150px;
	-fx-background-color: #666666;
	-fx-graphic: url(../images/backIcon.png);
}

.button:hover {
	-fx-effect: dropshadow(three-pass-box, rgba(255,255,255, 0.9), 15, 0, 0, 0);
}