.root {
	-fx-background-color: black;
	-fx-padding: 20px;
	-fx-font-family: Impact;
	-fx-font-size: 30px;
	-fx-spacing: 35px;
	-fx-alignment: center;
}

.button {
	-fx-text-fill: #000000;
	-fx-font-size: 30px;
	-fx-background-radius: 5px;
	-fx-cursor: hand;
	-fx-pref-width: 400px;
}

.imageview {
	-fx-image: url(../images/congratulations.png);
}

#menuButton {
	-fx-graphic: url(../images/backIcon.png);
	-fx-pref-width: 150px;
}

.label {
	-fx-text-fill: #ffffff;
}

#easyButton {
	-fx-background-color: #00ff35;
}

#intermediateButton {
	-fx-background-color: #ffff00;
}

#hardButton {
	-fx-background-color: #ff0000;
}

#legendaryButton {
	-fx-background-color: #ff00ff;
}

.button:hover {
	-fx-effect: dropshadow(three-pass-box, rgba(255,255,255, 0.9), 15, 0, 0, 0);
}

#infoLabelBox {
	-fx-alignment: center;
	
}